<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Hey, I'm Sumit.</h1>
      <h3 class="section-subheading">I am working on this  </h3>
      <span class="divider"></span>
      <div class="about-wrapper">
        <img class="headshot" src="img/headshot.jpg" alt="headshot">
        <div class="about-text-wrapper">
          <p class="about-text"><strong>I'm a currently a senior year student at Birla Institute of Technology, Mesra</strong> pursuing computer science and engineering. I have worked in related fields like machine learning, artificial intelligence, software engineering, and data mining. For the past few years, I have been motivated by the following question: What are the powers of data-driven approaches in multidisciplinary domains? This question led to independent lines of work that include optimizing algorithms and applying deep learning methods to solve research problems for healthcare analytics and social network analysis. </p>
          <p class="about-text"><cite>"Growth occurs when one goes beyond one's limit. Realizing that is also a part of the training."</cite><br>I enjoy learning new and keep moving forward so that I could acquire as much as I could get. I consider work as an ongoing process, and I'm always looking for opportunities to work with those who are willing to share their knowledge. At the end of the day, my primary goal is to work hard and gather knowledge.</p>
          <p class="about-text"><strong>When I'm not in front of a computer screen,</strong>you can find me on a football ground.</p>
        </div>
      </div>
    </div>
  </div>
</section>
