<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Hey, I'm Ambesh.</h1>
      <h3 class="section-subheading">I'm a researcher and a developer, passionate about researh works and developing new skills. </h3>
      <span class="divider"></span>
      <div class="about-wrapper">
        <img class="headshot" src="img/headshot.jpg" alt="headshot">
        <div class="about-text-wrapper">
          <p class="about-text"><strong>I'm a currently a pre-final year student at Birla Institute of Technology Mesra</strong> in Patna pursuing computer science and engineering. I have worked in related fields like machine learning, artificial intelligence, software engineering, internet of things and data mining. I strive to contribute in machine learning fields as the concept and large applicabilty of machine learning fascinates my curious mind and provides a space to come up with my own ideas.</p>
          <p class="about-text"><cite>"Growth occurs when one goes beyond one's limit. Realizing that is also a part of the training."</cite><br>I enjoy learning new and keep moving forward so that I could acquire as much as I could get. I consider work as an ongoing process, and I'm always looking for opportunities to work with those who are willing to share their knowledge. At the end of the day, my primary goal is to work hard and gather knowledge.</p>
          <p class="about-text"><strong>When I'm not in front of a computer screen,</strong> I'm probably reading books, thinking about robotics, playing football, reading mangas, or cooking.</p>
        </div>
      </div>
    </div>
  </div>
</section>
