<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Hi!, I'm Sumit.</h1>
      <h3 class="section-subheading">  </h3>
      <span class="divider"></span>
      <div class="about-wrapper">
        <img class="headshot" src="img/meraphotu.jpg" alt="headshot">
        <div class="about-text-wrapper">
          <p class="about-text"><strong>I'm currently a Master student at Pennsylvania State University</strong> pursuing computer science and engineering <strong>graduating in May 2023.</strong> I have worked in related fields like deep learning in NLP/NLG domain. For the past few years, I have been motivated by the following question: What are the powers of data-driven approaches in multidisciplinary domains of artificial intelligence? This question led to independent lines of work that include applying deep learning methods to solve research problems for healthcare analytics, text processing, and social network analysis. Meanwhile, I enjoy collaborating with researchers with different backgrounds on interdisciplinary research such as question answering, text summarization, health and social media analysis. Any kind of ideas and suggestions are welcome here. </p>
          <p class="about-text"><cite> My research papers are proceeding with NeurIPS MLPH 20, ICDAR 20, CODS COMAD 21, ICON 20, and Computational and Mathematical Organization Theory(Springer) </p>
          <p class="about-text"><strong>When I'm not working,</strong> I like playing soccer and listening to music.</p>
        </div>
      </div>
    </div>
  </div>
</section>
