<section id="footer" class="section">
  <div class="col-12 col-lg-8">
          <!-- <p>Visitors since 20 Jan 2021,  <br>
            <a href="https://info.flagcounter.com/U5jm"><img src="https://s11.flagcounter.com/count2/U5jm/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"> </a></p>
        -->
  </div>
  <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0002-0551-4524" href="https://orcid.org/0000-0002-0551-4524" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0002-0551-4524</a></div>
  
  <div class="section-wrapper">
    <ul class="soc">
      {% for link in site.social %}
      <li class="soc-item"><a href="{{link.url}}" target="_blank" class="icon {{link.title}}" title="{{link.title}}"><img src="img/icons/{{link.title}}.svg" alt="{{link.title}}"></a></li>
      {% endfor %}
    </ul>

  <!--  <div class="copyright-wrapper center">
      <p>&copy;&nbsp;&nbsp;{{site.name}} 2020</p>
    </div> -->
    
  </div>
</section>
